<div>
    <%if (property['$ref']) { %>
        <h5><%= propName %></h5>
        <div><em>Type: </em> <a href="/models/<%= property['$ref'] %>"><%= property['$ref'] %></a></div>
        <div><em>Required: </em><%= property.required %></div>
    <% } else { %>
        <h5><%= propName %></h5>
        <div><em>Type:</em> <%= property.type %></div>
        <div><em>Description:</em> <%= property.description %></div>
        <div><em>Required:</em> <%= property.required %></div>
    <% } %>
</div>