<div>
    <%if (serviceRequests.topic.length > 0 || serviceConsumes.topic.length > 0) { %>
    <div>
        <div>
            <h4>Topic</h4>
        </div>
        <table class="table table-striped table-hover">
            <thead class="thead-inverse">
            <tr>
                <th>type</th>
                <th>exchange</th>
                <th>key</th>
                <th>durable</th>
                <th>message</th>
                <th>task</th>
            </tr>
            </thead>
            <tbody>
            <%if (serviceRequests.topic.length > 0) { %>
            <tr class="info">
                <td>Requests</td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            <% for(var rT in serviceRequests.topic) { %>
            <tr>
                <td></td>
                <td><%= serviceRequests.topic[rT].exchange %></td>
                <td><%= serviceRequests.topic[rT].key %></td>
                <td><%= serviceRequests.topic[rT].durable %></td>
                <td><%- include('../partials/rabbitMessage', {message: serviceRequests.topic[rT].message, modalName: serviceRequests.topic[rT].exchange}); %></td>
                <td><%= serviceRequests.topic[rT].task %></td>
            </tr>
            <% } %>
            <% } %>
            <%if (serviceConsumes.topic.length > 0) { %>
            <tr class="info">
                <td>Consumes</td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            <% for(var cT in serviceConsumes.topic) { %>
            <tr>
                <td></td>
                <td><%= serviceConsumes.topic[cT].exchange %></td>
                <td><%= serviceConsumes.topic[cT].key %></td>
                <td><%= serviceConsumes.topic[cT].durable %></td>
                <td><%- include('../partials/rabbitMessage', {message: serviceConsumes.topic[cT].message, modalName: serviceRequests.topic[cT].exchange}); %></td>
                <td><%= serviceConsumes.topic[cT].task %></td>
            </tr>
            <% } %>
            <% } %>
            </tbody>
        </table>
    </div>
    <% } %>

    <%if (serviceRequests.work.length > 0 || serviceConsumes.work.length > 0) { %>
    <div>
        <div>
            <h4>Work</h4>
        </div>
        <table class="table table-striped table-hover">
            <thead class="thead-inverse">
            <tr>
                <th>type</th>
                <th>queue</th>
                <th>noAck</th>
                <th>message</th>
                <th>task</th>
            </tr>
            </thead>
            <tbody>
            <%if (serviceRequests.work.length > 0) { %>
            <tr class="info">
                <td>Requests</td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            <% for(var rW in serviceRequests.work) { %>
            <tr>
                <td></td>
                <td><%= serviceRequests.work[rW].queue %></td>
                <td><%= serviceRequests.work[rW].noAck %></td>
                <td><%- include('../partials/rabbitMessage', {message: serviceRequests.work[rW].message, modalName: serviceRequests.work[rW].queue}); %></td>
                <td><%= serviceRequests.work[rW].task %></td>
            </tr>
            <% } %>
            <% } %>
            <%if (serviceConsumes.work.length > 0) { %>
            <tr class="info">
                <td>Consumes</td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            <% for(var cW in serviceConsumes.work) { %>
            <tr>
                <td></td>
                <td><%= serviceConsumes.work[cW].queue %></td>
                <td><%= serviceConsumes.work[cW].noAck %></td>
                <td><%- include('../partials/rabbitMessage', {message: serviceConsumes.work[cW].message, modalName: serviceConsumes.work[cW].queue}); %></td>
                <td><%= serviceConsumes.work[cW].task %></td>
            </tr>
            <% } %>
            <% } %>
            </tbody>
        </table>
    </div>
    <% } %>

    <%if (serviceRequests.rpc.length > 0 || serviceConsumes.rpc.length > 0) { %>
    <div>
        <div>
            <h4>RPC</h4>
        </div>
        <table class="table table-striped table-hover">
            <thead class="thead-inverse">
            <tr>
                <th>type</th>
                <th>name</th>
                <th>highPriority</th>
                <th>message</th>
                <th>task</th>
            </tr>
            </thead>
            <tbody>
            <%if (serviceRequests.rpc.length > 0) { %>
            <tr class="info">
                <td>Requests</td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            <% for(var rR in serviceRequests.rpc) { %>
            <tr>
                <td></td>
                <td><%= serviceRequests.rpc[rR].name %></td>
                <td><%= serviceRequests.rpc[rR].highPriority %></td>
                <td><%- include('../partials/rabbitMessage', {message: serviceRequests.rpc[rR].message, modalName: serviceRequests.rpc[rR].queue}); %></td>
                <td><%= serviceRequests.rpc[rR].task %></td>
            </tr>
            <% } %>
            <% } %>
            <%if (serviceConsumes.rpc.length > 0) { %>
            <tr class="info">
                <td>Consumes</td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            <% for(var cR in serviceConsumes.rpc) { %>
            <tr>
                <td></td>
                <td><%= serviceConsumes.rpc[cR].name %></td>
                <td><%= serviceConsumes.rpc[cR].highPriority %></td>
                <td><%- include('../partials/rabbitMessage', {message: serviceConsumes.rpc[cR].message, modalName: serviceConsumes.rpc[cR].queue}); %></td>
                <td><%= serviceConsumes.rpc[cR].task %></td>
            </tr>
            <% } %>
            <% } %>
            </tbody>
        </table>
    </div>
    <% } %>

    <br/>
    <br/>
</div>